## Intro to the datasets

**EDIT: I deleted the GitHub dataset here since the description in the doc made me confused.**

In YouTube dataset, each line contains a user identifier followed by a group identifier (separated by a tab), implying that the user is a member of the group.

**user-num**: 94238

**group-num**:30087

## Randomly select 20000 users

As is proposed in the paper of BiNE, we should extract 15000 users and reserve all their edges to be our universal dataset. Since these 2 datasets are sparser than Wikipedia, we select 20000 users here.

After selection, the edge number:

* **YouTube**: 62098

Also, we want to rename all user identifiers by adding a letter 'u' before them, and all group/project identifiers by a letter 'i' so as to distinguish them.

Note that in YouTube dataset there is one extra line, so we use `next` to skip it.

In [1]:
import numpy as np

In [37]:
a = np.arange(1,94239)
b = np.arange(1, 120868)

In [47]:
rs1 = np.random.RandomState(111)
rs2 = np.random.RandomState(222)
#users_y = rs1.randint(low=1, high=94238, size = 20000)
#users_g = rs2.randint(low=1, high=120867, size = 20000)
rs1.shuffle(a)
rs2.shuffle(b)
users_y = a[:20000]
users_g = b[:20000]

In [48]:
with open('out.youtube-groupmemberships', 'r') as fin, open('youtube_selected.dat','w') as fout:
    next(fin)
    line_num = 0
    for line in fin:
        user, group = line.strip().split(' ')
        if int(user) in users_y:
            line_num += 1
            fout.write('u' + user + ' ' + 'i' + group + '\n')    

line_num

62098

## Split training and test set

As BiNE proposed, we should take 60% edges of each user as the training set, and the other 40% as the positive samples in the test set. For the test set, we need to sample an equal number of negative samples i.e. edges that does not exist.

### First we calculate each user's edge number

In [36]:
def user_cnt(filename):
    cnt = []
    
    i = 0
    first = True
    with open(filename, 'r') as fin:
        # with (user, item) heading added
        next(fin)
        for line in fin:
            user, group = line.strip().split(' ')
            # for the first line
            if first:
                cur = user
                first = False
                i = 0
        
            if user != cur:
                cnt.append(i) # count finish
                i = 1 # restart and count for 1
                cur = user  
            else:
                i += 1
    
        # the last entity
        cnt.append(i)
    
    return cnt

In [37]:
youtube_cnt = user_cnt('youtube_selected.dat')

In [38]:
len(youtube_cnt)

20000

### Then for each user, split 60% for Training set

Before using pandas `read_table`, I manually add a line in the file:
```
user item
```
to serve as the heading.

In [8]:
import pandas as pd

In [9]:
f = pd.read_table('youtube_selected.dat', sep = ' ')

In [13]:
f

         user    item
0          u5     i20
1          u5     i21
2          u5     i22
3         u11     i52
4         u13     i54
5         u13     i55
6         u13     i56
7         u19     i71
8         u19     i72
9         u19     i73
10        u19     i74
11        u19     i75
12        u19     i76
13        u19     i77
14        u19     i78
15        u19     i79
16        u19     i80
17        u19     i81
18        u19     i82
19        u19     i83
20        u19     i84
21        u19     i85
22        u19     i86
23        u19     i87
24        u19     i88
25        u19     i89
26        u19     i90
27        u19     i91
28        u19     i92
29        u19     i93
...       ...     ...
62068  u94173    i830
62069  u94173    i602
62070  u94173   i1093
62071  u94173    i644
62072  u94173    i646
62073  u94173    i674
62074  u94173    i711
62075  u94173   i1572
62076  u94173   i1815
62077  u94173   i1793
62078  u94173   i4015
62079  u94173   i4513
62080  u94173   i7869
62081  u94173   i8828
62082  u94182  i30054
62083  u94182  i30055
62084  u94185    i171
62085  u94185   i9386
62086  u94189    i114
62087  u94189   i2374
62088  u94189   i4015
62089  u94189   i4048
62090  u94189   i4377
62091  u94189   i7446
62092  u94194   i6150
62093  u94204  i30064
62094  u94215    i174
62095  u94221   i1024
62096  u94223    i199
62097  u94223   i5162

[62098 rows x 2 columns]

In [26]:
start, end = 0,0
pnt = 0
for i in youtube_cnt:
    pnt += 1
    start = end
    end = start + i
    cur = f.iloc[start:end, :]
    train = cur.sample(frac=0.6)
    test = pd.concat([cur,train]).drop_duplicates(keep=False)
    train.to_csv('youtube_train.dat', header=None, index=None, mode='a')
    test.to_csv('youtube_test.dat', header=None, index=None, mode='a')

## Add negative samples

Now we have a train set and a test set with only positive samples. The positive samples can be used to train LINE or our apporach i.e. B-LINE. However, in order to train a LR, we should add some negative samples. The number of negative entities should be equal with the total entities number in train and test set.

In [1]:
import networkx as nx
from networkx.algorithms import bipartite

In [2]:
g = nx.Graph()

In [3]:
with open('youtube_selected.dat', 'r') as fin:
    next(fin)
    for line in fin:
        user, group = line.strip().split(' ')
        g.add_node(user, bipartite = 0)
        g.add_node(group, bipartite = 1)
        g.add_edge(user, group)

In [4]:
top_nodes = {n for n, d in g.nodes(data=True) if d['bipartite']==0}

In [5]:
g.number_of_edges()

62098

In [6]:
len(top_nodes)

20000

In [7]:
bottom_nodes = set(g) - top_nodes

### Then we want to create a dictionary to map numbers to nodes

In [8]:
import numpy as np

In [9]:
users = list(top_nodes)
groups = list(bottom_nodes)

In [10]:
num = 41108 + 20990
num # the number we need

62098

In [32]:
np.ceil(num*2*0.6 - 41108)

33410.0

In [24]:
neg = []
rs = np.random.RandomState(427)
user_ids = rs.randint(len(users), size = num)

for user_id in user_ids:
    group_id = np.random.randint(len(groups))
    user = users[user_id]
    group = groups[group_id]
    while (user, group) in g.edges():
        group_id = np.random.randint(len(groups))
        group = groups[group_id]
    
    neg.append((user, group, 0))

In [26]:
pos = []
with open('youtube_train.dat', 'r') as fin:
    for line in fin:
        user, group = line.strip().split(',')
        pos.append((user, group, 1))

In [33]:
neg_train = neg[:33410]
neg_test = neg[33410:]

In [34]:
len(pos)

41108

In [35]:
pos.extend(neg_train)

In [38]:
np.random.shuffle(pos)

In [40]:
user, group, tag = pos[0]

In [41]:
user

'u18171'

In [43]:
with open('case_train.dat', 'w') as fin:
    for ent in pos:
        user, group, tag = ent
        fin.write('{} {} {}\n'.format(user, group, tag))

In [44]:
pos_test = []
with open('youtube_test.dat', 'r') as fin:
    for line in fin:
        user, group = line.strip().split(',')
        pos_test.append((user,group,1))

In [46]:
pos_test.extend(neg_test)

In [48]:
np.random.shuffle(pos_test)

In [50]:
with open('case_test.dat', 'w') as fin:
    for ent in pos_test:
        user, group, tag = ent
        fin.write('{} {} {}\n'.format(user, group, tag))